<mat-form-field>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
</mat-form-field>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource"> <!-- Use dataSource instead of organizations -->

    <!-- ID Column -->
    <ng-container matColumnDef="id"> <!-- Change "position" to "id" -->
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type"> <!-- Add this container for the "type" column -->
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action"> <!-- Add this container for the "type" column -->
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element" class="mat-org-action-icons">
            <button mat-icon-button (click)="openEditCard(element)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button (click)="confirmDelete(element.id)"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="filterOptions" showFirstLastButtons></mat-paginator>
</div>
