<mat-sidenav-container class="example-container" [@indicatorRotate]>
  <mat-sidenav #sidenav mode="side" opened class="sideNavbar">
    <!-- Sidenav content -->
    <mat-nav-list>
      <mat-accordion multi="false">
        <ng-container *ngFor="let item of navItems">
          <!-- Parent items without children -->
          <a mat-list-item *ngIf="!item.children" [routerLink]="item.route" class="custom-list-item">
            <div class="list-item-content">
              <mat-icon class="list-item-icon">{{ item.iconName }}</mat-icon>
              <span class="list-item-text">{{ item.displayName }}</span>
            </div>
          </a>

          <!-- Parent items with children -->
          <mat-expansion-panel *ngIf="item.children" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="list-item-content">
                  <mat-icon class="list-item-icon">{{ item.iconName }}</mat-icon>
                  <span class="list-item-text">{{ item.displayName }}</span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Child items -->
            <mat-nav-list>
              <a *ngFor="let child of item.children" mat-list-item [routerLink]="child.route" class="custom-list-item">
                <div class="list-item-content">
                  <mat-icon class="list-item-icon">{{ child.iconName }}</mat-icon>
                  <span class="list-item-text">{{ child.displayName }}</span>
                </div>
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Main content -->

    <!-- Top nav bar using mat toolbar -->
    <mat-toolbar color="primary" class="topNavbar">
      <!-- <mat-icon>dashboard</mat-icon> -->

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search..." [formControl]="searchText">
      </mat-form-field>
      <app-top-navbar-profile-dropdown></app-top-navbar-profile-dropdown>
    </mat-toolbar>

    <!-- Additional content -->

  </mat-sidenav-content>
</mat-sidenav-container>
