.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.example-full-width{
  flex: 1 1 auto; /*Fill the remaining space*/
  height: 100%;
  margin-top: 20px;
  padding: 0px;
}

.topNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

mat-sidenav {
  width: 300px;
}

.list-item-content {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: flex-start; /* Align content to the start of the container */
  width: 100%; /* Take full width to ensure proper spacing */
}

.list-item-icon {
  /* Ensure the icon has some margin if needed */
  margin-right: 8px; /* Adjust the margin as needed */
}

.list-item-text {
  flex: 1; /* Allow the text to take up the remaining space */
  /* Any additional styling for the text */
}
