.track-container {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.album-art {
  max-width: 150px;
  margin-right: 20px;
  border-radius: 5px;
}

.track-info h3 {
  margin: 0;
  color: #333;
}

.track-info p {
  margin: 5px 0;
  color: #666;
}
