<p>celebration-card works!</p>
<mat-card class="celebration-card">
  <mat-card-header>
    <mat-card-title>Celebration!</mat-card-title>
    <mat-card-subtitle>Let's celebrate this special occasion.</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/image/celebration-image.jpeg" alt="Celebration image">
  <mat-card-content>
    <p>Today we celebrate the success of our team for achieving a major milestone.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>JOIN THE PARTY</button>
  </mat-card-actions>
</mat-card>
