<app-header></app-header>

<div class="notFoundBody">
  <div class="noise"></div>
  <div class="overlay"></div>
  <mat-card appearance="outlined" class="terminal">
    <mat-card-header>
      <mat-card-title>Error <span class="errorcode">404</span></mat-card-title>
      <mat-card-subtitle>Page not found</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily
        unavailable.</p>
      <p class="output">Please try the options below.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="goBack()">Go back</button>
      <a mat-raised-button color="accent" [routerLink]="['/']">Home</a>
    </mat-card-actions>
  </mat-card>
</div>
<app-footer id="footerElement"></app-footer>
