.brandImg{
  width: 35px;
  height: 35px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  background: #fff;
  padding: 1px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.profileImg{
  width: 35px;
  height: 35px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  background: #fff;
  padding: 1px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
