<section class="section banner">
  <mat-card [@bannerTrigger] class="container">
    <mat-card-content class="section-box-banner">
      <div class="content">
        <div>
          <h1>{{"Banner.Pretitle" | translate}}</h1>
        </div>
        <div class='banner-title'>
          <h2>Keshav Singh</h2>
          <h3>Backend Developer</h3>
        </div>
        <div class='banner-description'>
          <p [innerHTML]='"Banner.Description" | translate' class="mt-4"></p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
