<!-- change-password.component.html -->
<div class="d-flex flex-column gap-3 p-4">
  <section id="changePassword" class="change-password-wrapper bg-white p-4 rounded-3 d-flex flex-column gap-3">
    <!-- ... -->
    <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm" class="d-flex flex-column gap-2">
      <div *ngIf="changePasswordForm.errors" class="text-danger">
        <!-- Display form errors here -->
      </div>
      <div>
        <label for="oldPassword" class="form-label mb-1">Old Password</label>
        <input type="password" class="form-control" formControlName="oldPassword" required/>
      </div>
      <div>
        <label for="newPassword" class="form-label mb-1">New Password</label>
        <input type="password" class="form-control" formControlName="newPassword" required/>
      </div>
      <div>
        <label for="confirmPassword" class="form-label mb-1">Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword" required/>
      </div>
      <div class="mt-1">
        <button type="submit" class="btn btn-dark">Change Password</button>
      </div>
    </form>
  </section>
  <!-- Other sections omitted for brevity -->
</div>
