.progress-container {
  width: 100%;
  background-color: inherit;
  position: fixed; /* Fixed at the top under the header */
  left: 0;
  top: 0;
  z-index: 999;
}
.progress-container .mat-mdc-progress-bar {
  height: 4px;
}
