/* progress-bar.component.css */
.progress-container {
  width: 100%;
  background-color: inherit;
  position: fixed; /* Fixed at the top under the header */
  left: 0;
  top: 0;
  z-index: 999;
}

.progress-bar {
  height: 4px; /* Height of the progress bar */
  background-color: #9e0be2; /* Color of the progress bar */
  width: 0; /* Initial width of the progress bar */
  transition: width 0.4s ease-in-out; /* Smooth transition for width changes */
}
