.contact {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
  display: table;
}
.contact .container {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .contact {
    height: 100vh;
    padding: 0 !important;
    margin: 0 auto !important;
    display: table;
 }
  .contact .container {
    display: table-cell;
    vertical-align: middle;
 }
}
