<nav [@animateMenu] class="navbar navbar-expand-lg navbar-light bg-light main-navbar-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/k.png" height="22" alt="brand image" class="brandImg" />
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarNavAltMarkup"
      [attr.aria-expanded]="!isNavbarCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [class.collapse]="isNavbarCollapsed" [class.navbar-collapse]="true" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" (click)='scroll("about")' href="#">About me</a>
        <a class="nav-link" (click)='scroll("jobs")' href="#">Experience</a>
        <a class="nav-link" (click)='scroll("projects")' href="#">Projects</a>
        <a class="nav-link" (click)='scroll("contact")' href="#">Contact me</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="navbar-brand" href="#">
          <img src="https://avatars3.githubusercontent.com/keshavsingh4522?size=400" height="22" alt="Profile image"
            class="profileImg" />
        </a>
        <a class="nav-link" *ngIf="(authService.isLoggedIn() | async)" [routerLink]="['/setting']">Settings</a>
        <a class="nav-link" *ngIf="(authService.isLoggedIn() | async)" [routerLink]="['/']"
          (click)="logout()">Logout</a>
        <a class="nav-link" *ngIf="(authService.isLoggedIn() | async) === false"
          [routerLink]="['/authentication/login']">Login</a>
        <a class="nav-link" *ngIf="(authService.isLoggedIn() | async) === false"
          [routerLink]="['/authentication/signup']">Signup</a>
      </div>
    </div>
  </div>
</nav>
