<section class="section jobs" id="jobs" *ngIf="experienceData?.length > 0">
  <div class="container">
      <div class="section-box">
          <div class="about-title mb-5" data-aos="fade-up" data-aos-duration="1000">
              <h3 class="navbar-pre-title">
                  <span>02.</span> Experience
              </h3>
          </div>
          <div class="jobs-tabs" data-aos="fade-up" data-aos-duration="1000">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" orientation="vertical" class="nav-tabs jobs-tabs">
                  <li *ngFor="let job of experienceData; let i = index" [ngbNavItem]="i">
                    <a ngbNavLink>{{ job.companyName }}</a>
                      <ng-template ngbNavContent>
                        <h4 class="title-tab-content">
                          {{ job.positionTitle }} |
                          <a class="company-tab-content" href="{{ job.companyWebsite }}" target="_blank">
                            {{ job.companyName }}
                            <mat-icon class="company-tab-content-link">open_in_new</mat-icon>
                          </a>
                        </h4>
                        <h5 class="job-time">{{ job.employmentPeriod }}</h5>
                        <p *ngFor="let responsibility of job.responsibilities" class="job-description"
                           [innerHTML]="responsibility"></p>
                      </ng-template>
                  </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
      </div>
  </div>
</section>
