.responsive-video {
  max-width: 640px; /* You can set this to the maximum width you want */
  margin: auto; /* This centers the video horizontally */
}

.responsive-video iframe {
  position: relative;
  top: 100px;
  left: 0;
  width: 100%;
  height: 400px;
}
