<div class="side-dock" [class.left]="side==='left'" [class.right]="side==='right'">
  <div class="dock-items">
    <button mat-fab mini color="primary" aria-label="Toggle quick links" (click)="toggleLinks()">
      <mat-icon>link</mat-icon>
    </button>
    <div class="dock-clock">
      <app-clock></app-clock>
    </div>
  </div>

  <div class="inline-rail" [class.show]="showLinks">
    <app-quick-links-rail class="inline" [show]="showLinks" (showChange)="showLinksChange.emit($event)" [links]="links"></app-quick-links-rail>
  </div>
</div>
