<div class="basic-info-container" *ngIf="userDetails">
  <h2>Basic Information</h2>
  <form>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" class="form-control" placeholder="Enter first name" readonly
        [value]="userDetails.firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" class="form-control" placeholder="Enter last name" readonly
        [value]="userDetails.lastName">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control" placeholder="Enter email" readonly
        [value]="userDetails.email">
    </div>
    <div class="form-group">
      <label for="mobile"> Mobile:</label>
      <input type="text" id="mobile" class="form-control" placeholder="Enter phone number" readonly
        [value]="userDetails.phoneNumber">
    </div>
    <div class="form-group">
      <label for="countryCode">Country Code:</label>
      <input type="text" id="countryCode" class="form-control" placeholder="Enter country code" readonly
        [value]="userDetails.countryCode">
    </div>
    <!-- Since the form is read-only, the save button does not make sense. If the form is not meant to be read-only, you should use ngModel and remove the readonly attribute -->
    <!-- <button type="submit" class="btn btn-primary">Save</button> -->
  </form>
</div>
