<div class="login-box">
  <h2>Admin Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="user-box">
      <input type="text" formControlName="userName" required>
      <label for="userName">Username</label>
    </div>
    <div class="user-box">
      <input type="password" formControlName="password" required>
      <label for="password">Password</label>
    </div>
    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </button>
  </form>
</div>
